
body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    height: 70px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
} 

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px ;
    font-weight: 600;
    color:white;
    transition: 0.3s ease;
}
#navbar li a:hover ,
#navbar li a.active
{
    color:rgb(59, 132, 107);
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background:rgb(59, 132, 107) ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#hero{
    background-color: #e3e6f3; 
    background-image: url( images/image-3.jpg);
    background-repeat: no-repeat;
    height: 130vh;
    background-size: cover;
    background-position: top 25% right 0 ;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-top: -30px ; 
}


#hero .text{
    padding-left: 20px;
    padding-bottom: 180px;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 57px;
} 

.section-p1{
    padding: 40px 80px  ;
}

#feature .fe-box img{
    width: 130px;
    height: 120px;
    padding:-40px;
    
}
#feature .fe-box{
    width: 120px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 15px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .fe-box h6{
    display: inline-block;
    margin-top: 14px;
    padding: 7px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: rgb(216, 128, 128);
    font-weight: bold;
    font-family: arial;

}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(142, 169, 102);

}
#feature .fe-box:nth-child(3) h6{
    background-color:rgb(135, 122, 122)

}
#feature .fe-box:nth-child(4) h6{
    background-color:yellowgreen;

}
#feature .fe-box:nth-child(5) h6{
    background-color:rgb(152, 108, 194);

}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(129, 134, 120);

}
#product-1{
    text-align:center;
}
#product-1 .pro-container{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

#product-1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
    margin-bottom: 60px;
    margin-right: 20px;
}
#product-1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product-1 .pro img{
    width: 100%;
    border-radius: 20px;
}
.name-product{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.price{
    color: rgb(67, 86, 39);
    margin: 10px;
    font-weight: bold;
    font-family: arial;
}
.cart{
    
    background-color:rgb(142, 107, 55);
    padding-top : 2px ;
    padding-bottom: 3px ;
    padding-left: 10px ;
    padding-right: 10px ;
    color: black;
    border-radius: 6px;
    text-decoration: none !important;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
}

.section-m1{
    margin: 40px 0;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/background-image-2.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}
#banner button:hover{
    background-color: #088178;
    color: #fff;

}
#sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/ecom-image-1.avif);
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    padding: 30px;
}
#sm-banner .banner-box-2{
    background-image: url(images/ecom-image-2.avif);
}

#sm-banner h4 {
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 0;

}

#sm-banner h2{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 6px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;


}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid  #088178 ;
}
#banner-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 20px;

}


#banner-3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/ecom-image-1.avif);
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 20px ; 

}
#banner-3 h2{
    color: #fff;
    font-weight:bold;
    font-size: 22px;
    margin-bottom: 0;

}
#banner-3 h3{
    color: #ec544e;
    font-weight:bold;
    font-size: 15px;
}

#banner-3 .banner-box{
    background-image: url(images/im-1.jpg);
}
#banner-3 .banner-box-2{
    background-image: url(images/im-2.avif);
}
#banner-3 .banner-box-3{
    background-image: url(images/im-3.avif);
}

#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(images/image-newsletter.avif);
    background-repeat: no-repeat;
    background-position: 20% 30%; 
    background-color: black;
    margin-top: 80px;

}

#newsletter h4{
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    font-family: arial;
}

#newsletter p{
    font-size: 16px;
    color:darkgray;
    font-weight: bold;
    font-family: arial;
}
#newsletter p span{
    color: burlywood;
}
#newsletter .form{
    display: flex;
    width: 40%;

}

#newsletter input{
    height: 3.152rem;
    padding: 0 1.124em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
.fa {  
  padding: 4px 2px;  
text-align: center;  
  margin: 2px 2px;  
  font-size: 30px;
  width: 30px;   
}

.fa-facebook {  
  background: #3B5998;  
  color: white;  
  padding: 3px -3px;
}
.fa-instagram {  
  background: #125688;  
  color: white;  
}  

.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0px;
}

footer h4{
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 7px;
}
footer p{
    font-size: 15px;
    padding: 0px 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
}

footer a:hover{
    color: #088178;
}

footer i{
    cursor: pointer;
}


#mobile-2{
    display: none;
}

/* shop */

#page-header{
    background-image: url(images/image-s2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-top: -150px;
    margin-bottom: 70px;

}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial;
    
}
#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}
.small-img-group{
    display: flex;
    justify-content: space-between;
    background-color:whitesmoke;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;

}

#prodetails .single-pro-details h2{
    font-size: 26px;
    margin-top: 0px;
}
#prodetails .single-pro-details input{
    width: 30px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
    
}
#prodetails .single-pro-details span{
    font-size: 15px;
    font-weight: 600;
    color:rgb(44, 40, 40)
}

/* shop */


/* blog */
#page-header.blog-header{
    background-image: url("images/blog-1.avif");
    margin-bottom: 300px;
}



/* about */
#page-header.about-header{
    background-image: url(images/about-1.avif);
}
#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 40%;
    height: auto;
    border-radius: 20px;
}
#about-head div{
    padding-left: 40px;
}

/* contact */

#page-header.contact-header{
    background-image: url(images/contact-1.avif);
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}

#contact-details .details li{
    list-style: none;
    padding: 10px 0;
    display: flex;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;


}

#contact-details .details li p{
    margin-left: opx;
    margin-top: 0;
    font-size: 14px;
    
}
#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    margin: 30px;
    padding: 80px;
    border: 1.2px solid #e3e6f3;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e3e6f3;
}

/* shipping */
#page-header.shipping-header{
    background-image: url(images/shipping-1.avif) ;
}
#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space:nowrap;
}
#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e3e6f3;
    border-left: 0px;
    border-right: 0px;
}
#cart table thead td{
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e3e6f3;
}
#coupon button,
#Subtotal button{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}
#Subtotal{
    width: 50%;
    margin-bottom: 30px;
    border:1px solid #e3e6f3;
    padding: 30px;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#Subtotal table td{
    width: 50%;
    border: 1px solid #e3e6f3;
    padding: 10px;
    font-size: 13px;
}






@media (max-width: 799px)  {
    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgb(39, 24, 24);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        margin-top: 0px;
    }
    #navbar.active{
        right: 0px;

    }

    #navbar li{
        margin-bottom: 25px;
        
    }
    #mobile{
    display: flex;
    align-items: center;
    }

    #mobile i{
        padding-left: 20px;
        font-size: 24px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 10px;
        left: 30px;
        color:white;
        font-size: 24px;
    }
    #ld-bag{
        display: none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature .feature-class{
        display: block;   
    }
    #product-1 .pro-container {
    justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 30vh;
        
    }
    #sm-banner{
        display: flex;
        justify-content: flex-start;
    }

    #sm-banner .banner-box {
        height: 25vh;
    }    

    #banner-3 .banner-box {
         height: 20vh;

    }
    #newsletter .form {
        width: 70%;
    }

    #hero .text .text-mobile{
        color: #ec544e !important;
    }
    #form-details form {
        width: 100%;
    }

}


@media (max-width: 499px) {
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;

    }
    #prodetails .single-pro-details{
        width: 100%;

    }

    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin-bottom: 70px;
    }
    #about-head div{
        padding-left: 0px;
    }

    /* contact page */

    #contact-details{
    flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;

    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;

    }
    #form-details form{
        width: 80%;
        margin-bottom: 30px;
    }

    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #Subtotal{
        width: 100%;
        padding: 10px;
    }
}